<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <a href='/'>Back to Home</a>
  <h1><%= bookInfo.title %></h1>
  <h2><%= bookInfo.author %></h2>
          <p>ISBN: <%= bookInfo.isbn %></p>
          <img src=<%= bookInfo.image_url %> alt="">
          <p><%= bookInfo.description %></p>
          <p><%= bookInfo.bookshelf %></p>
</body>
</html>