<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/icons.css">
  <link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" href="/styles/modules.css">
 </head>
<body>
  <h1>Open Shelf</h1>
  <h1>You have <%= booksFromDB.length %> books in your library</h1>

  <table>
    <thead>
      <th>Author</th>
      <th>Title</th>
      <th>ISBN</th>
      <th>image_url</th>
      <th>Description</th>
      <th>Bookshelf</th>
    </thead>
    <tbody>
      <% for(let i = 0; i < booksFromDB.length; i++) { %>
      <tr>
        <td><%= booksFromDB[i].author %></td>
        <td><%= booksFromDB[i].title %></td>
        <td><%= booksFromDB[i].isbn %></td>
        <td><%= booksFromDB[i].image_url %></td>
        <td><%= booksFromDB[i].description %></td>
        <td><%= booksFromDB[i].bookshelf %></td>
     </tr>
      <% } %>
    </tbody>  
  </table>
</body>
</html>